{% load grape_tags %}
<div class="main">
    <h3>Не смотря на множество различных винодельческих сортов винограда,
        а их более 10000, для изготовленя белее 90% вина по всему миру,
        используется всего около 200 из них.</h3>
    <h3>На данной странице как и на сайте в целом, представлены далеко не все сорта,
        но именно их вы чаще всего сможете встретить на полках винотек.</h3>

    <h4>Выбор категории</h4>
    <ul>
    <a href="{% url 'to_grapes'  %}" class="cats">Все категории</a><br>
    {% show_categories cat_selected %}
    </ul>
    <h4>Выбор тегов</h4>
    {% show_all_tags %}
    <hr>

    <ul>
        {% for grape in grapes %}
            <h2><li><a href="{{ grape.get_url }}" class="list">{{ grape }}</a></li></h2>
        {% endfor %}
    </ul>

</div>