  <div class="side">
    <h2>О сортах винограда</h2>
    <p>Сорт винограда — низшая систематическая единица,
        используемая для описания разнообразия культурного винограда.
        Характеризует отличительную совокупность передаваемых по
        наследству морфологических, биологических и хозяйственных
        признаков. Всего на территории России и стран СНГ произрастает
        более 3000 сортов винограда.</p>

    <h3>Vítis vinífera</h3>
    <p>Именно из вида vítis vinífera, а в переводе виноград культурный
    или виноград одомашненный и производят вино. Плоды винограда
        используются в пищу в свежем виде, а также перерабатываются
        на изюм, виноградный сок, вино, варенье, маринады, компоты,
        разные напитки (алкогольные и безалкогольные), а также винный
        уксус, включая бальзамический. Из виноградных косточек выжимают
        масло, а виноградный лист используется для приготовления долмы
        и других фаршированных блюд. <br></br>
        Его противоположностью является вид под названием vitis labrusca.
        Сложно не перепутать с вином под названием Lambrusco (Ламбруско)
        из одноимённого сорта Ламбруско и его клонов. Однако вид
        vitis labrusca не используется в промышленном и массовом виноделии
        т.к. данный вид не приспособлен для употребления подобного рода
        в силу своих особенностей и всё же его грозди можно часто
        встретить на прадздичном столе.
    </p>

  </div>