  <div class="side">
    <h2>О сайте</h2>
    <h3>Данный сайт предоставляет информацию о мире вина.
    Технологий производства, от игристых до креплённых вин.
    Истории виноделия начинающейся с небольшой пещеры и
    сопровождавщее человечество после этого на всём его пути.
    А также сортах винограда как международных, так и автохтонных.
        <br>
    Приятного ознакомления!</h3>
        <br>
      <a href="/feedback" class="cats"><h3>Оставить отзыв</h3></a>
      <a href="/feedback/report_a_inaccuracy" class="cats"><h3>Сообщить о неточности информационного характера</h3></a>
      <a href="/feedback/report_a_bug" class="cats"><h3>Сообщить об ошибке технического характера</h3></a>
  </div>