  <div class="side">
    <h2>Истоки</h2>
    <p>История виноделия восходит к эпохе неолита. Вино — один из древнейших напитков, издавна известный наряду с мёдом, квасом и пивом. </p>

    <h3>Археологические свидетельства</h3>
    <p>
Виноделие возникло после развития виноградарства — освоения людьми культивирования винограда; это произошло в эпоху неолита на Ближнем Востоке[2]. Виноделие начало развиваться около 8000 лет до нашей эры в районе Закавказья, Восточной Анатолии и севера гор Загрос (современный Иран)[3]. Древнейшие археологические находки в «квеври» (Грузия) и современном Азербайджане, а именно в Нахичевани — сосуды, в которых хранилось вино, были датированы не менее чем 8000 лет до нашей эры, дата была основана на биохимических анализах, проведённых Музеем археологии и антропологии Пенсильванского университета. ЮНЕСКО признало находку нематериальным культурным наследием Грузии.
    </p>
  </div>